@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-size: xx-large;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.item {
  position: relative;
  border: 1px solid #777777;
  padding-top: 25vh;
  text-decoration: none;
  color: black

}

.lupa {
  width: 50px;
  height: 50px;
  position: relative;
  margin: auto
  
}




